<div class="container">
    <h2>Forgot Password Confirmation</h2>
  
    <div class="alert alert-success" *ngIf="otpMatched">
      OTP matched
    </div>
  
    <!-- <div class="alert alert-danger" *ngIf="!otpMatched">
      Confirmation failed. The OTP provided is invalid or has expired.
    </div> -->
  
    <form>
        <div *ngIf="!otpMatched" class="mb-3">
          <label for="otp" class="form-label">OTP</label>
          <input type="text" class="form-control" id="otp" [(ngModel)]="otp" name="otp">
        </div>
  
      <div class="mb-3" *ngIf="otpMatched">
        <label for="password" class="form-label">New Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="newPassword" name="newPassword">
      </div>
  
      <button *ngIf="!otpMatched" class="btn btn-primary" (click)="confirmPasswordReset()">Confirm</button>
      <button *ngIf="otpMatched" class="btn btn-primary" (click)="changePassword()">Update Password</button>
    </form>
  </div>
  