<div class="container mt-5 d-flex justify-content-center">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h3>Reset Password</h3>
                <p>Please enter your email address.</p>
                <div class="formGroup">
                    <input class="formControl" name="email" [(ngModel)]="email" type="email" placeholder="Email Address" #passwordResetEmail required>
                </div>
                <!-- Calling ForgotPassword from AuthService Api -->
                <div class="formGroup">
                    <input class="btn btnPrimary" (click)="forgot()" type="submit" value="Reset Password">
                </div>
                <div class="redirectToLogin">
                    <span>Go back to ? <a class="redirect" style="text-decoration:none;" routerLink="/login">Log In</a></span>
                </div>
            </div>
        </div>
    </div>
</div>